
.header-one {
  .multi-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3pc;
    img {
      object-fit: contain;
      width: auto;
      height: 60px;
    }
  }
  marquee .multi-logos {
    flex-wrap: nowrap !important;
  }
}

.video-slide {
  position: relative;
  height: 100vh;
  overflow: hidden;
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .custom-svg-1 {
    position: absolute;
    height: 100%;
    width: 53%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.3;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 30%;
      background: #fff;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .bottom {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    transform: skewY(1.7deg) translate3d(0, 50%, 0);
    padding: 2rem 0;
    background-color: #fff;
  }
  .data {
    // background: #043a6ceb;
    // background: linear-gradient(90deg, #043a6cce 40%, #196dbe00 130%);
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 4;
    h6 {
      font-size: 18px;
      color: $blue;
      font-weight: 600;
    }
    h1 {
      font-size: 55px;
      font-weight: 600;
    }
    p{
      color: #000;
    }
  }
}

footer {
  background-color: #011529;
  position: relative;
  p.copy-right {
    text-align: center;
    color: #fff;
  }
  .top {
    position: absolute;
    top: -4pc;
    left: 0;
    width: 100%;
    transform: skewY(1.7deg) translate3d(0, 50%, 0);
    padding: 2rem 0;
    background-color: #fff;
  }
}

#footer {
  padding-top: 8pc;
  .info {
    border-bottom: 2px dashed #fff;
    padding-bottom: 3pc;
    margin-bottom: 3pc;
    .box {
      color: #fff;
      h4 {
        font-size: 30px;
        margin-bottom: 1.5pc;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      p,
      a {
        color: #ffffffcf;
      }
      li {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
  ul.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3pc;
    margin-bottom: 0;
    a {
      color: #fff;
      font-size: 26px;
    }
  }
  .logo {
    text-align: center;
    filter: brightness(60.5);
    margin: 1pc 0 2pc;
    img {
      width: auto;
      height: 100px;
      object-fit: contain;
    }
  }
}

#insight {
  background: #f2f2f2;
  h4 {
    font-size: 30px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 2px;
    align-items: center;
    // color: grey;
    color: $blue;
    font-size: 17px;
    font-weight: 500;

    li {
      list-style-position: inside;
      list-style-type: disc;
      &::marker {
        color: $blue;
      }
    }
  }
  .btn {
    font-size: 1.25rem;
    padding: 10px 2.5pc;
  }
}

.gallery-swiper {
  .swiper-slide {
    &:nth-child(even) {
      .img {
        margin-top: 2pc;
        transition: all 1s linear;
      }
    }
    .img {
      margin: 10px;
      transition: all 1s linear;
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border: 1px solid #00000020;
      padding: 5px;
      box-shadow: 0px 0px 15px 0 #00000020;
    }
  }
}
.symposium {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-image: url("../images/design/background-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    opacity: 0.3;
    pointer-events: none;
  }
  img {
    height: 250px;
    border-radius: 10px;
  }
  h4 {
    margin: 10px 0 0;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
  }

  p {
    display: none;
  }
}

.gallery-video {
  iframe {
    height: 400px;
    width: 100%;
  }
}

#speakers {
  background-color: #f2f2f2;
  .nav {
    gap: 15px;
  }
  .btn {
    &.active {
      background-color: $orange;
      color: #fff;
    }
  }
  .speaker-swiper {
    .swiper-slide {
      transition: all 0.5s linear;
      &:hover {
        transform: scale(0.97);
        transition: all 0.5s linear;
      }
    }
    img {
      height: 300px;
      border-radius: 15px;
    }
    h5 {
      font-weight: 600;
      margin: 15px 0 0;
    }
  }
}

.organized-by {
  .col-12 {
    &:nth-child(2) .box {
      margin-top: 2pc;
    }
    &:nth-child(3) .box {
      margin-top: 4pc;
    }
  }
  .box {
    background-color: #f04c233b;
    padding: 2pc;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.5s linear;
    &:hover {
      border-color: $orange;
      transition: all 0.5s linear;
    }
    h4 {
      border-bottom: 2px solid $orange;
      width: max-content;
      margin-bottom: 1pc;
      font-weight: 600;
    }
    h6 {
      font-size: 18px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

#schedule {
  p:last-child {
    margin-bottom: 0;
  }
  ul li {
    list-style-type: circle;
  }
  th {
    color: $blue;
  }
  b {
    font-weight: 600;
  }
}

.header-2 {
  &.position-sticky {
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #00000050;
  }
}

#about-us {
  background-image: url("../images/design/background-4.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  .left {
    img {
      object-fit: contain;
      filter: drop-shadow(2px 4px 6px #00000020);
    }
  }
  p {
    font-size: 17px;
    line-height: 28px;
    &:last-child{
      margin: 0;
    }
  }
}
